.TXT-V{
    color:blue;
}
.TXT-B{
    color:blue;
}
.TXT-S{
    color:Skyblue;
}
.TXT-G{
    color:green;
}
.TXT-Y{
    color:Yellow;
}
.TXT-O{
    color:Orange;
}
.TXT-R{
    color:Red;
}


.BG-V{
    background-color:blue;
}
.BG-B{
    background-color:blue;
}
.BG-S{
    background-color:Skyblue;
}
.BG-G{
    background-color:green;
}
.BG-Y{
    background-color:Yellow;
}
.BG-O{
    background-color:Orange;
}
.BG-R{
    background-color:Red;
}